@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

body,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgdcv.co.uk%2Fimages%2Fbackgrounds%2FInvestorLoginPage.jpg&f=1&nofb=1);
  /* background: #1ca7ca; */
  background-repeat: no-repeat;
  background-position: center center;
}

H1, H2, H3, H4, H5, H6, BUTTON {
  font-family: 'Lato', serif;
}


#root{
  text-align: center;
}

.container{
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 16rem;
  max-width: 300px;
  color: #fff;
}

#login h1{
  margin: 0 0 1rem 0;
}

#login input{
  margin: .5rem 0;
  width: 100%;
  padding: .5rem;
  margin: .5rem;
  height: 35px;
  border-radius: 5px;
  box-shadow: 0;
  border: none;
}

#login button{
  padding: 1rem;
  margin-top: 1rem;
  color: #fff;
  background: #18829c;
  width: 100%;
}